@use "reset";
@font-face{
    font-family: "killers-text";
    src: url("/font/satan.ttf");

}
body{
    background-color: #121212;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: auto;
    justify-content: center;
    color: white;
    
    row-gap: 20px;
    column-gap: 50px;
    padding-bottom: 5rem;
    
  }

.item1{
    
    color: white;
    text-align: center;
    font-family: "killers-text";
    font-size: 25px;
}
a{
    color: white;
}
nav{
    
    text-align: center;
}
@media(max-width: 768px)
    {
        .grid-container{
            grid-template-columns: auto;
            gap: 25px;
        }
        
    }
