---
layout: base.njk
title: Japan
---
<link rel="stylesheet" href="/css/country.css">
<main>
    
    <nav>
        <a href="halloween">Halloween</a>
    </nav>

    <h1>Country
        {{
        country[0].name.common
        }}
    </h1>

    <div class="grid-container">
        <div class="img2">
        {% image country[0].flags.png, "jp" %}
    </div>
        <div class="image1">
            {% image country[0].coatOfArms.png, "CoatOfArms", "10vw, 10vw" %}
        </div>
        <div class="frame">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13627579.110253144!2d137.15386460000002!3d33.5001886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34674e0fd77f192f%3A0xf54275d47c665244!2sJapan!5e0!3m2!1ssv!2sse!4v1666945947475!5m2!1ssv!2sse"
            width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

            <p> Official JP Name:
                {{
                country[0].name.nativeName.jpn.official
                }}
            </p>

            <p> 
                Coat Of Arms
            </p>


        <a href="{{ country[0].maps.googleMaps }}">Google Maps</a>


       
       

        <!-- <pre>{{ item | dump(2) }}</pre> -->

<!--        <pre>
            {{ country | dump(2) }}
        </pre>
-->

    </div>
    <!-- {% image "https://images.unsplash.com/photo-1508361001413-7a9dca21d08a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNzQ3Nzh8MHwxfHNlYXJjaHwxfHxoYWxsb3dlZW58ZW58MHx8fHwxNjY2NTk0Mjc4&ixlib=rb-4.0.3&q=80&w=400", "photo of my cat" %} -->

<footer>
    This site will save data
</footer>

</main>